.filters a,
.filters span {
	padding: 0 5px;
}

/* grid item */
.react-grid-item {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	transition: transform 200ms;
}

/* grid item subwrap */
.react-grid-item-subwrap {
	width: 100%;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
.react-grid-item-subwrap img {
	width: 100%;
}

/* loader */
@-webkit-keyframes uil-default-anim {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}
@keyframes uil-default-anim {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}
.uil-default-css > div:nth-of-type(1) {
    -webkit-animation: uil-default-anim 1s linear infinite;
    animation: uil-default-anim 1s linear infinite;
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}
.uil-default-css {
    position: relative;
    background: none;
    width: 200px;
    height: 200px;
}
.uil-default-css > div:nth-of-type(2) {
    -webkit-animation: uil-default-anim 1s linear infinite;
    animation: uil-default-anim 1s linear infinite;
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}
.uil-default-css {
    position: relative;
    background: none;
    width: 200px;
    height: 200px;
}
.uil-default-css > div:nth-of-type(3) {
    -webkit-animation: uil-default-anim 1s linear infinite;
    animation: uil-default-anim 1s linear infinite;
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}
.uil-default-css {
    position: relative;
    background: none;
    width: 200px;
    height: 200px;
}
.uil-default-css > div:nth-of-type(4) {
    -webkit-animation: uil-default-anim 1s linear infinite;
    animation: uil-default-anim 1s linear infinite;
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}
.uil-default-css {
    position: relative;
    background: none;
    width: 200px;
    height: 200px;
}
.uil-default-css > div:nth-of-type(5) {
    -webkit-animation: uil-default-anim 1s linear infinite;
    animation: uil-default-anim 1s linear infinite;
    -webkit-animation-delay: -0.09999999999999998s;
    animation-delay: -0.09999999999999998s;
}
.uil-default-css {
    position: relative;
    background: none;
    width: 200px;
    height: 200px;
}
.uil-default-css > div:nth-of-type(6) {
    -webkit-animation: uil-default-anim 1s linear infinite;
    animation: uil-default-anim 1s linear infinite;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
.uil-default-css {
    position: relative;
    background: none;
    width: 200px;
    height: 200px;
}
.uil-default-css > div:nth-of-type(7) {
    -webkit-animation: uil-default-anim 1s linear infinite;
    animation: uil-default-anim 1s linear infinite;
    -webkit-animation-delay: 0.09999999999999998s;
    animation-delay: 0.09999999999999998s;
}
.uil-default-css {
    position: relative;
    background: none;
    width: 200px;
    height: 200px;
}
.uil-default-css > div:nth-of-type(8) {
    -webkit-animation: uil-default-anim 1s linear infinite;
    animation: uil-default-anim 1s linear infinite;
    -webkit-animation-delay: 0.19999999999999996s;
    animation-delay: 0.19999999999999996s;
}
.uil-default-css {
    position: relative;
    background: none;
    width: 200px;
    height: 200px;
}
.uil-default-css > div:nth-of-type(9) {
    -webkit-animation: uil-default-anim 1s linear infinite;
    animation: uil-default-anim 1s linear infinite;
    -webkit-animation-delay: 0.30000000000000004s;
    animation-delay: 0.30000000000000004s;
}
.uil-default-css {
    position: relative;
    background: none;
    width: 200px;
    height: 200px;
}
.uil-default-css > div:nth-of-type(10) {
    -webkit-animation: uil-default-anim 1s linear infinite;
    animation: uil-default-anim 1s linear infinite;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
.uil-default-css {
    position: relative;
    background: none;
    width: 200px;
    height: 200px;
}

.uil-default-css div {
	top:80px;
	left:93px;
	width:14px;
	height:40px;
	background:#5a5436;
	border-radius:10px;
	position:absolute;
}
